#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  #loading p {
    font-size: 24px;
    font-weight: bold;
  }
  